<div class="small-12 columns camara">
  <div class="large-5 large-offset-6">
    <hr>
    <div class="button-group ">
      <ul class="right">
        <li class="boton margen-izquierda">asamblea general</li>
        <li class="boton margen-izquierda">senadores</li>
        <li class="boton margen-izquierda">diputados</li>
      </ul>
    </div>
  </div>
</div>

<!-- #### TEMAS DEL DÍA #### -->
<div class="row temas margen-superior">
  <div class="large-12 columns">
    <div class="medium-3 columns left-col">
      <div class="large-12 columns">
        <section class="main">
          <div class="custom-calendar-wrap">
            <div id="custom-inner" class="custom-inner">
              <div class="custom-header clearfix">
                <nav>
                  <span id="custom-prev" class="custom-prev"></span>
                  <span id="custom-next" class="custom-next"></span>
                </nav>
                <h2 id="custom-month" class="custom-month"></h2>
                <h3 id="custom-year" class="custom-year"></h3>
              </div>
              <div id="calendar" class="fc-calendar-container"></div>
            </div>
          </div>
        </section>
        <h4>TEMAS DEL DÍA</h4>
        <ul>
          <hr>
          <li>Tema del día 1</li>
          <hr>
          <li>Tema del día 2</li>
          <hr>
          <li>Tema del día 3</li>
          <hr>
          <li>Tema del día 4</li>
          <hr>
          <li>Tema del día 5</li>
        </ul>
      </div>
    </div>
    <div class="medium-8 end columns text-center">
      <h3 class="text-center">TEMAS DEL DÍA 8 DE NOVIEMBRE, 2014</h3>
      <hr>
      <h4 class="medium-8 columns small-centered">LOREM</h4>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae </p>
      <ul class="medium-2 columns small-centered ranking">
        <li class="medium-6 columns text-center gusta"></li>
        <li class="medium-6 columns text-center no-gusta"></li>
      </ul>
      <br/>
      <form class="small-centered">
        <fieldset>
          <legend>Justificá tus ideas</legend>

          <label class="medium-6 columns">
            <input type="text" placeholder="*Nombre" class="medium-2 columns">
          </label>
          <label class="medium-6 columns">
            <input type="text" placeholder="*Correo electrónico" class="medium-2 columns">
          </label>
          <label>
            <input type="text" placeholder="Pienso que esta ley..." class="columns">
          </label>
          <div class="button">enviar</div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<!-- #### FICHAS DE PARLAMENTOS #### -->
<div class="small-12 columns fichas">
  <ul class="medium-12 button-group text-center margen-inferior asistencia">
    <li class="boton medium-2 text-center">TODOS</li>
    <li class="boton medium-2 text-center">ASISITIERON</li>
    <li class="boton medium-2 text-center">NO ASISTIERON</li>
  </ul>
  <div clas="row ">
  </div>
</div>