<!-- #### FOOTER #### -->
<div class="row large-12 columns text-right footer">
  <p><strong>Ágora es un proyecto desarrollado por:</strong></p>
  <p>Virginia Rodríguez, Ignacio Gentini y Sebastián Beltrán</p>
</div>