<!-- #### MENU #### -->
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <%= image_tag 'logo.png', alt: 'Logo Ãgora' %>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right menu-centrado">
      <li class="active"><a href="#">parlamento</a></li>
      <li><a href="#">agenda</a></li>
      <li><a href="#">comisiones</a></li>
      <li><a href="#"><%= image_tag 'lupa.png' %><input type="text" placeholder="buscar"></a></li>
    </ul>
  </section>
</nav>