<div class="small-10 columns end">
  <div class="row">
    <div class="small-6 columns"><p class="valor-referencia"><%= political_party.senadores_count %></p></div>
    <div class="small-6 columns"><p class="valor-referencia"><%= political_party.diputados_count %></p></div>
  </div>
  <div class="row">
    <div class="small-6 columns"><p class="cargo-referencia">SENADORES</p></div>
    <div class="small-6 columns"><p class="cargo-referencia">DIPUTADOS</p></div>
  </div>
</div>