<ul class="right">
  <li><%= link_to 'asamblea general', comissions_path, class: class_for_submenu_link('index', action_name) %></li>
  <li><%= link_to 'senadores', senadores_comissions_path, class: class_for_submenu_link('senadores', action_name) %></li>
  <li><%= link_to 'diputados', diputados_comissions_path, class: class_for_submenu_link('diputados', action_name) %></li>
<ul>