<ul class="right">
  <li><%= link_to 'asamblea general', comissions_path, class: class_for_submenu_link('A', @selected_chamber) %></li>
  <li><%= link_to 'senadores', senadores_comissions_path, class: class_for_submenu_link('S', @selected_chamber) %></li>
  <li><%= link_to 'diputados', diputados_comissions_path, class: class_for_submenu_link('D', @selected_chamber) %></li>
<ul>