<div class="small-12 columns camara">
  <div class="large-5 large-offset-6">
    <hr>
    <div class="button-group ">
      <%= render partial: 'filters_by_chamber' %>
    </div>
  </div>
</div>

<% if @comissions.any? %>
<!-- #### COMISIONES #### -->
<div class="row comisiones margen-superior">
  <% first_column = true %>
  <% slice_size = @comissions.size / 2 %>
  <% slice_size += 1 if (@comissions.size % 2) != 0 %>
  <%= @comissions.each_slice(slice_size) do |comission_list|%>
      <% div_class = first_column ? 'large-3 large-offset-3 columns' : 'large-3 end columns' %>
      <div class="<%= div_class %>">
        <ul class="no-bullet">
          <% comission_list.each do |comission| %>
            <li><%= pretty_text(comission.name) %></li>
          <% end %>
        </ul>
      </div>

      <% first_column = false %>
  <% end %>
</div>
<% end %>