<div class="small-12 columns camara">
  <div class="large-5 large-offset-6">
    <hr>
    <div class="button-group ">
      <ul class="right">
        <li class="boton margen-izquierda">asamblea general</li>
        <li class="boton margen-izquierda">senadores</li>
        <li class="boton margen-izquierda">diputados</li>
      </ul>
    </div>
  </div>
</div>

<!-- #### COMISIONES #### -->
<div class="row comisiones margen-superior">
  <div class="large-3 large-offset-3 columns">
    <ul class="no-bullet">
      <li>comisión 1</li>
      <li>comisión 2</li>
      <li>comisión 3</li>
      <li>comisión 4</li>
      <li>comisión 5</li>
      <li>comisión 6</li>
      <li>comisión 7</li>
    </ul>
  </div>
  <div class="large-3 end columns">
    <ul class="no-bullet">
      <li>comisión 8</li>
      <li>comisión 9</li>
      <li>comisión 10</li>
      <li>comisión 11</li>
      <li>comisión 12</li>
      <li>comisión 13</li>
      <li>comisión 14</li>
    </ul>
  </div>
</div>