<ul class="right">
  <li><%= link_to 'asamblea general', legislators_path, class: class_for_submenu_link('index', action_name) %></li>
  <li><%= link_to 'senadores', senadores_legislators_path, class: class_for_submenu_link('senadores', action_name) %></li>
  <li><%= link_to 'diputados', diputados_legislators_path, class: class_for_submenu_link('diputados', action_name) %></li>
<ul>