<div class="filtro">
  <ul class="right">
    <li class="label margen-izquierda-mitad filter" data-filter="all">todos</li>
    <li class="label margen-izquierda-mitad filter" data-filter=".partido_nacional">p.nacional</li>
    <li class="label margen-izquierda-mitad filter" data-filter=".partido_colorado">p.colorado</li>
    <li class="label margen-izquierda-mitad filter" data-filter=".partido_frente_amplio">frente amplio</li>
    <li class="label margen-izquierda-mitad filter" data-filter=".partido_independiente">p.independiente</li>
    <ul>
</div>