<div class="filtro">
  <ul class="right">
    <span>orden:</span>
    <li class="label margen-izquierda-mitad sort active" data-sort="default:asc">alfabético</li>
    <li class="label margen-izquierda-mitad sort" data-sort="myorder:desc">por mayor asistencia</li>
    <li class="label margen-izquierda-mitad sort" data-sort="myorder:asc">por menor asistencia</li>
    <span style="margin-left: 20px;">filtros:</span>
    <li class="label margen-izquierda-mitad filter" data-filter="all">todos</li>
    <li class="label margen-izquierda-mitad filter" data-filter=".partido_nacional">p.nacional</li>
    <li class="label margen-izquierda-mitad filter" data-filter=".partido_colorado">p.colorado</li>
    <li class="label margen-izquierda-mitad filter" data-filter=".partido_frente_amplio">frente amplio</li>
    <li class="label margen-izquierda-mitad filter" data-filter=".partido_independiente">p.independiente</li>
    <ul>
</div>